# =============================================================================
Dockerfile

# Les fichiers .env .
.env
.env.*

# Documentation .
*.md
*.txt

# Fichiers d'éditeurs
.vscode/
.idea/
*.swp
*.swo
